.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 2rem;
}

.content {
    width: 100%;
    max-width: 900px;
    padding: 0 2rem;
}

